# Aula 02

In [ ]:
# Aula 02

Nesta aula utilizaremos alguns comandos básicos em python:

- Tipos de variáveis = int, float, bool, str, NaN
- type
- conversão entre variáveis
- Listas e indexação

# Tipos de variáveis

In [26]:
# variável inteira - int

a = 1

# Para exibir o resultado em tela, utilize o comando print assim
print(a)

1

In [2]:
# Para verificar o tipo de variável, utilize o comando type assim:
type(a)

int

## Variável float - dupla precisão ou número real

In [8]:
# variável float

b = 1.0
print(b)
print(type(b))

1.0
<class 'float'>

In [9]:
# conversão de int para float
c = float(a)
print(c)

1.0

## Variável string - str - TEXTO

In [11]:
# variável string
e = 'júlia'
print(e)
print(type(e))

júlia
<class 'str'>

In [16]:
# converter um inteiro e um float para string
f = str(c)
g = str(b)
print('o valor de f é: ' + f + 'e o valor de g é: ' + g)

o valor de f é: 1.0e o valor de g é: 1.0

## Variável boleana

In [14]:
# comparação entre valores - usar ==
h = (f == g)
print(h)
print (type(h))

False
<class 'bool'>

In [15]:
# para comparar se as variáveis são diferentes de !=
i = (f != g)
print(i)
print(type(i))

True
<class 'bool'>

In [17]:
# para converter em string...
print(str(i))
print(type(str(i)))

True
<class 'str'>

# Operações matemáticas

In [19]:
# multiplicação *

j = 2*30.5
print(j)

61.0

In [20]:
# divisão /
l = 10/6
print(l)

1.6666666666666667

In [21]:
# soma e subtração
print(2 + 50 -2.2)

49.8

In [25]:
#potência **
m = 25**(1/2)
print(m)

5.0

## LISTAS

In [27]:
# primeira lista

lista_a = ['igor', 'larissa', 'leonardo']
print(lista_a)
print(type(lista_a))

['igor', 'larissa', 'leonardo']
<class 'list'>

In [28]:
lista_b = ['josé', 7, 6.5]
print(lista_b)
print(type(lista_b))

['josé', 7, 6.5]
<class 'list'>

In [30]:
# indexação

# primeiro valor da lista_b
print(lista_b[0])

# utilizando lista, conversão de variáveis e contentação de strings
print(lista_b[0] + ' tem ' + str(lista_b[1]) + ' meses e ' + str(lista_b[2]) + ' kg ')

josé
josé tem 7 meses e 6.5 kg

In [32]:
print(type(lista_b[0]))

<class 'str'>

In [33]:
print(type(lista_b[1]))

<class 'int'>

In [34]:
# criando uma lista de valores consecutivos


lista_consecutivos = list(range(0,100))
print(lista_consecutivos)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [41]:
# primeiro valor
print(lista_consecutivos[0])

#ultimo valor
print(lista_consecutivos[99])
print(lista_consecutivos[-1])

0
99
99

In [42]:
# comprimento da lista
comprimento = len (lista_consecutivos)
print(comprimento)

100

In [47]:
# o valor no meio da séria
metade = comprimento/8
print(metade)
print(lista_consecutivos[int(metade)])

12.5
12

# Dicionário

In [53]:
# primeiro dicionário
dicionario = {'a':1,'b':'josé','c':'yasmim'}
print(dicionario)

{'a': 1, 'b': 'josé', 'c': 'yasmim'}

In [54]:
# acessando valores do dicionário
print(dicionario['a'])
print(dicionario['b'])

1
josé

In [55]:
dicionario.keys()

dict_keys(['a', 'b', 'c'])

In [57]:
dicionario.values()

dict_values([1, 'josé', 'yasmim'])

In [58]:
dicionario.items()

dict_items([('a', 1), ('b', 'josé'), ('c', 'yasmim')])

# Loop

In [60]:
# usando range
for ii in range(0,100): print(ii)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [61]:
#usando uma lista
for ii in lista_a:
    print(ii)

igor
larissa
leonardo

In [62]:
#usando uma lista e range
for ii in range(0,len(lista_a)):
    print(lista_a[ii])

igor
larissa
leonardo

In [73]:
dic_2 = {'igor':10,
         'marcos':9,
         'julia':5.75,
         'larissa':5.75,
        'leonardo':5,
        'leticia':8}
for key,value in dic_2.items():
    if (value>5.75):
        if(value>8):
        print(key + ' está aprovado(a) com notão')
         else:
        print(key + ' está aprovado(a)')
    elif value== 5.75:
        print(key + ' passou raspando')
    else:
        print(key + ' reprovado(a)')

IndentationError: expected an indented block after 'if' statement on line 9 (3967055551.py, line 10)

In [74]:
# loop em uma lista e acumulando valores especificos

lista_c = [100, 200, 10, 2, 1, 6, 22,27]
for index, valor in enumerate(lista_c):
    print('indice da lista = ' +str(index))

indice da lista = 0
indice da lista = 1
indice da lista = 2
indice da lista = 3
indice da lista = 4
indice da lista = 5
indice da lista = 6
indice da lista = 7

In [75]:
# acumulando valores maiores que 50 
lista_maior50 = []
for index

SyntaxError: invalid syntax (1140521681.py, line 3)

# Numpy

In [80]:
# usando logica e numpy

# importando o numpy
import numpy as np

#convertendo para numpy
arr = np.array(lista_c)

print(arr)
print(type(arr))

# selecionando valores maiores que 50 - retorna um array booleano
print(arr>50)

#imprimir apenas valores maiores que 50
print(arr[arr>50])

[100 200  10   2   1   6  22  27]
<class 'numpy.ndarray'>
[ True  True False False False False False False]
[100 200]

In [81]:
for ii in arr:
    print(ii)

100
200
10
2
1
6
22
27

## numpay media, minimo, maxima, desvio padrao, percentil, mediana

In [82]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Media = ' + str(arr.mean()))

Media = 46.0

In [83]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Minimo = ' + str(arr.min()))

Minimo = 1

In [84]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Maximo = ' + str(arr.max()))

Maximo = 200

In [85]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Desvio = ' + str(arr.std()))

Desvio = 65.59916158000802

In [87]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Percentil 90 = ' + str(np.percentile(arr,90)))

Percentil 90 = 129.99999999999997

In [88]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Percentil 50 = ' + str(np.percentile(arr,50)))

Percentil 50 = 16.0

In [89]:
# numpay media, minimo, maxima, desvio padrao, percentil, mediana

print('Mediana = ' + str(np.median(arr)))

Mediana = 16.0

In [ ]:
#array de numero aleatorios

val_min = 80
val_max = 600

array_temperatura_aleatoria = (val

In [90]:
# cinética

fx = 200*np.exp(array_temperatura_aleatoria) + array_temperatura_aleatória**(-0.2)
print(fx)

NameError: name 'array_temperatura_aleatoria' is not defined

## Figuras - MATPLOTLIB

In [92]:
# importando pacote

import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [91]:
fig,ax = plt.subplots()
ax.plot(fx)

ModuleNotFoundError: No module named 'matplotlib'